{{!< default}} <div class="flex flex-col items-center justify-center min-h-[80vh] px-4 py-12 gap-12">
  <!-- Hero Section -->
  <section
    class="flex flex-col items-center p-8 mx-auto w-full max-w-2xl text-center hero">
    <div class="flex flex-col items-center hero-content p-16">
      <h1
        class="mb-4 h-72 text-4xl font-bold md:text-5xl uppercase highlight highlight-red-500 highlight-variant-1">
        Seize the means of information
      </h1>
      <p class="mb-6 max-w-xl text-lg md:text-xl">A community of innovators, creators, and technologists building the
        future together.</p>
      <a href="/#/portal/" class="btn btn-primary btn-lg">Become a Member</a>
    </div>
  </section>

  <!-- About/Mission Section -->
  <section class="p-6 mx-auto w-full max-w-xl text-center shadow bg-base-100 rounded-box">
    <h2 class="mb-2 text-2xl font-semibold">Our Mission</h2>
    <p class="text-base opacity-80 md:text-lg">
      We create spaces and opportunities for people to use their access to
      technologies to fight back against empire.
    </p>
  </section>

  <!-- Member Benefits Section -->
  {{> benefits tag-slug="Member Benefits"}}
  <!-- Posts Section -->
  {{!-- {{> posts}} --}}
  {{!-- If JS isn't enabled, fallback to standard pagination --}}
  <noscript>
    <div class="gh-pagination flex justify-between m-[4vmin]">
      {{pagination}}
    </div>
  </noscript>

  </div>